@import url(../../styles/var.css);

.formWrapper {
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
}

.formBackground {
  background-color: rgba(255, 254, 222, 0.575);
  max-width: 50%;
  transform: translateX(60%);
}

.textBox {
  height: 40%;
  background-color: wheat;
}

.spacing {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.spacingRight {
  border: none;
  display: flex;
  justify-content: flex-start;
  font-size: large;
  width: 250px;
  height: 35px;
  background-color: #e4d3a9;
  border: 2px solid #c9b78a;
  color: var(--text);
  border-radius: 4px;
  margin-left: 5px;
}

.button {
  background-color: var(--background);
  color: var(--text);
  border: 2px solid var(--primary);
  width: 250px;
  transition: all 0.3s;
  margin-bottom: 50px;
}

.button:hover {
  background-color: var(--primary);
  color: var(--clear-text);
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.checkbox {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  height: 450px;
  left: 0;
}

.checkbox > p {
  transform: translate(-250px, 50px);
}
