@import url(../../styles/var.css);

.formWrapper {
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
}

.spacing {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.spacingRight {
  border: none;
  display: flex;
  justify-content: flex-start;
  width: 200px;
  height: 25px;
  background-color: rgb(31, 30, 30);
  color: var(--clear-text);
  border-radius: 4px;
  margin-left: 5px;
}

.button {
  background-color: var(--background);
  color: var(--text);
  border: 2px solid var(--primary);
  width: 200px;
  transition: all 0.3s;
}

.button:hover {
  background-color: var(--primary);
  color: var(--clear-text);
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
