@import url(../../styles/var.css);

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 100px 60px 20px 50px;
  height: 400px;
  width: 250px;
  transform: scale(1);
  overflow: hidden;
  background-color: rgb(247, 239, 218);
  -webkit-box-shadow: 0px 2px 6px 2px rgb(228, 220, 200);
  -moz-box-shadow: 0px 2px 6px 2px rgb(228, 220, 200);
  box-shadow: 0px 2px 6px 2px rgb(228, 220, 200);
  border-radius: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  transition: all 0.3s;
}

#gameLink {
  height: 400px;
  width: 250px;
  cursor: default;
}

.card_hovered {
  transform: scale(1.02);
  height: 420px;
  margin-bottom: 0;
  .api,
  .db {
    background-color: var(--primary);
  }
}

.card_image {
  -webkit-user-drag: none;
  transform: scale(1.08);
  opacity: 0.9;
  height: 190px;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s;
  aspect-ratio: 3/2;
}

.image_hovered {
  transform: scale(1.02);
  opacity: 1;
}

.card_title {
  text-align: center;
  margin-bottom: 0;
  overflow: hidden;
  transition: all 0.2s;
}

.card_description {
  margin-left: 10px;
  max-height: 145px;
  overflow: hidden;
  transition: all 0.5s;
}

hr {
  width: 90%;
  border: 1px solid var(--accent);
}

.showGameInfo {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.api,
.db {
  color: var(--text);
  position: absolute;
  z-index: 2;
  padding: 0 40px 0 40px;
  background-color: var(--secondary);
  bottom: 0;
  width: 70%;
  transition: all 0.3s;
}
