@import url(../../styles/var.css);

#SearchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  width: 100%;
  height: 50px;
  z-index: 1;
}

.SearchBar {
  padding-left: 20px;
  height: 43px;
  width: 60%;
  border-radius: 40px;
  border: none;
  font-size: medium;
  background-color: #d8ccaf;
  transition: all 0.3s;
}

.SearchBar:focus,
.SearchBar:hover {
  outline: none;
  background-color: #f0e3c5;
  color: var(--text);
}

i {
  color: var(--clear-text);
  position: absolute;
  right: 21%;
  transition: all 0.3s;
}

.SearchBar:hover + i,
.SearchBar:focus + i {
  color: var(--text);
}
