:root {
  --text: #ebe9fc;
  --text-shade: #929292;
  --dark-text: #1a2035;
  --background: #010104;
  --primary: #51557e;
  --primary-shade: #404363;
  --secondary: #816797;
  --secondary-shade: #675379;
  --accent: #dbdaa6;
}
