:root {
  --text: #1a2035;
  --text-shade: #333333;
  --clear-text: #ebe9fc;
  --background: #ebebeb;
  --primary: #51557e;
  --primary-shade: #404363;
  --secondary: #816797;
  --secondary-shade: #675379;
  --accent: #dbdaa6;
}
